TrackingPolicy.TestClient/Service References/TestServiceReference/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://TrackingPolicy.TestServer/ITestService" elementFormDefault="qualified" targetNamespace="http://TrackingPolicy.TestServer/ITestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>